*  {
    box-sizing: border-box;
}

body {

    direction: rtl;
    text-align: right;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {

    position: relative;
    width: 100%;
    height: 105px;
    z-index: 5;
    margin: 0 auto;
    background-color:gray;
    background-image: linear-gradient(0deg, rgba(179,181,181,1) 0%, rgba(143,145,145,1) 20%, rgb(126, 128, 128) 100%);
}

main {

    width: 900px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

ul {

    margin: 0;
    padding: 0;
}

.logo {

    position: absolute;
    bottom: -25px;
    right: 300px;
}

.search-container {
    display: flex;
    position: absolute;
    bottom: 64px;   
    left: 350px;
    flex-direction: row;
    align-items: baseline;
}

.search-input input {

    border-top-right-radius: 5px 5px;
    border-width: 0px;
    width: 135px;
    height: 19px;
    font-size: 12px;
    color: black;
}

.search-input ::placeholder {

    font-size: 12px;
    color: black;

}

.search-container a {

    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
}

.search-container img {

   position: absolute; 
   top: 1px;
   left: -20px;
   
}

.search-container a:hover {
    color: #005CA0 ;
    text-decoration: underline;
}

nav {

    position: relative;
    top: 70px;
    margin-right: 130px;
    
}
nav ul {

    display: flex;
    flex-direction: row;
    justify-content: center;
}


nav ul li {
    padding:  0px 0px 10px 15px;   
}

.menu-separator {

   color: rgba(211, 211, 211, 0.507);
   margin-left: 15px;
   font-weight: 600;
}

nav ul li a {

    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

li {
    list-style: none;
}

i {
    color: #005CA0 ;
    align-items: baseline;
    margin-right: 10px;
}

.dropdown-menu {

    display: none;
    flex-direction: column;
    position: absolute;
    background-color: gray;
    background: linear-gradient(0deg, rgba(107,109,109,1) 0%, rgba(143,145,145,1) 52%, rgba(179,181,181,1) 86%);
    text-align: right;
    top: 33px;
    margin-right: 10px;

}

.dropdown-menu li {

    white-space: nowrap;
    padding: 5px;
    
}

.dropdown-menu li:hover {
    
    background-color: rgb(149, 149, 149);
    text-decoration: underline;
    
}
.dropdown-menu li a:hover {

    color: #005CA0;
    
}

.drop-trigger {

    position: relative;
}

.drop-trigger:hover>.dropdown-menu {

    display: block;
}

.drop-trigger li {

    border-bottom: 1px solid rgb(187, 186, 186);
    border-spacing: 0ch;
    
}

.content-top {

    width: 900px;
    height: 355px;
    display: flex;
    margin-top: 30px; 
    margin-bottom: 20px;
    justify-content: space-between;
        
}

.pics-top {
    position: relative;
}

.pics-top>img {

    width: 290px;
    height: 352px;
    border-bottom-right-radius: 20px 20px;

}

.gray-content {

    position: absolute;
    bottom: 10px;
    right: 7px;
    width: 249px;
    height: 96px;
    background-color:#808080;
    color: white;
    opacity: 90%;
    border-bottom-right-radius: 20px 20px;
    padding: 10px;
}

.gray-content h3 {

    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.gray-content p {

    font-size: 13px;
    margin-top: 4px;
    line-height: 1;
}

.read-more-white img {

    position: absolute;
    right: 45px;
    bottom: 2px; 
    width: 8px;
    height: 8px;
}

.read-more-white a {

    font-size: 13px;
    position: absolute;
    left: 20px;
    bottom: 5px;
    color: white;

}

.read-more-white a:hover {

    color: #005CA0 ;
    text-decoration: underline;

}


.content-bottom {

    width: 900px;
    display: flex;
    justify-content: space-between;

}

.content-box {

    width: 290px;
    height: 216px;
    border: 1px solid lightgray;
    border-top-right-radius: 20px 20px;
    padding: 0px 24px;
    border-bottom: none;
    color: #575757;
    position: relative;
   
}

.content-box h3 {

    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;

}



.content-box img {

    width: 250px;
    height: 110px;

}

.content-box a {
    float: left;
    color: #72716d;
    font-size: 13px;
    
}

.content-box a:hover {
    color: #005CA0 ;
    text-decoration: underline;

    
}

.content-box a img {
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    margin-top: 3px;

}

.content-box ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
    
}

.content-box li {
    padding: 5px 0px 3px 0px;
    
}

.map-pic img {
    
    position: absolute;
    left: 20px;
    top: 40px;
    width: 73px;
    height: 168px;
    
} 

footer {
    background: linear-gradient(0deg, rgb(125, 126, 126) 0%, rgba(143,145,145,1) 52%, rgba(179,181,181,1) 86%);
    width: 100%;
    height: 38px;
    bottom: 0px;
    position: fixed;
    z-index: 999999;
}

footer ul {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

footer ul li {

    padding-left: 5px;
    padding-right: 5px;

}

footer ul li a {

    font-size: 14px;
    color: white;
    text-decoration: none;
}

footer ul li a:hover {

    color: #005CA0 ;
    text-decoration: underline;
}

footer .menu-separator {
    color: white;
    margin-left: 7px;
    font-weight: lighter;
 }
    

 /* adding contact page style */

 .content-layout {

    
    display: flex;
    flex-direction: row; 
    margin-top: 30px; 
    margin-bottom: 20px;
    /* position: relative;  */

 }
 aside {

    width: 122px; 
    height: 41px;
    background-color: lightgray;
    background-image: linear-gradient(0deg, rgba(188,190,190,1) 0%, rgba(253,253,253,1) 4%, rgba(251,251,251,1) 6%, rgba(188,190,190,1) 98%, rgba(255,255,255,1) 100%);

 }

 aside a {

    margin-right: 10px;
    font-size: 13px;
    color: #5c5c5c;
    line-height: 50px;
    text-decoration: none;
 }

 aside a:hover {

    color: #005CA0;
    text-decoration: underline;
 }

 .breadcrumbs {

    margin-right: 20px;
    padding-bottom: 5px;
    width: 440px;
    border-bottom: 1px solid #cbcbcb;
    position: relative;
 }

.breadcrumbs a {

    font-size: 12px;
    color: #5c5c5c;
    
}

.breadcrumbs a:hover {

    color: #005CA0;
    text-decoration: underline;
    
}

.breadcrumbs span {

    font-size: 12px;
    color: #5c5c5c;
        
}

.breadcrumbs h4 {

    font-size: 15px;    
    color: #72716d;
    margin-bottom: 0px;

}

.content-main {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-right: 140px;
}

.form-wrap {
    display: flex;
    flex-direction: row;
    background-color: lightsalmon;
    width: 385px;
    height: 360px;
    margin-left: 80px;
    border: 1px solid lightgray;
    border-bottom: none; 
}

.side-boxes {

    display: flex;
    flex-direction: column;
    width: 294px;

}

.box1 {
    
    height: 140px;
    margin-bottom: 50px;
    border: 1px solid lightgray;
    border-bottom: none; 
    padding: 5px 30px;
    border-top-right-radius: 20px 20px;
}

.box2 {
    
    height: 140px;
    border: 1px solid lightgray;
    border-bottom: none; 
    padding: 5px 30px;
    border-top-right-radius: 20px 20px;

}

.box1 h3 {
    font-size: 15px;
    font-weight: bold;
    color: #005ca0;
    margin-bottom: 10px;
}

.box1 p {
    font-size: 13px;
    color: #6d6d6d;
}

.box2 a {
    color: blue;    
    text-decoration: none;
}

.box2 a:hover {

    color: #005CA0;
    text-decoration: underline;
    
}

.box2 p {
    font-size: 13px;
    color: #6d6d6d;
}

.box2 h3 {
    font-size: 15px;
    font-weight: bold;
    color: #005ca0;
    margin-bottom: 10px;
}
